
<center><form>
<br><br><input type="text" style="text-align:center" size="50" style="height:70px;font-size:14pt;" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"><br><br>
</form></center>
<!-- <app-parent [myinputMsg]="myInputMessage" (myOutput) ="GetChildData($event)" ></app-parent> -->
  <!-- <app-child style="float: left" [Name]="sendToChild" (getResponse)="getResponse($event)"></app-child>  -->
  <app-parent [liveName]="title" (getResponseOfParent)="getResponse($event)"></app-parent>

<!-- imp line.... do not remove -->
<!-- <app-child style="float: left"></app-child><app-parent style="float: right"></app-parent> -->
